@model List<ProyectoInscripciones.Models.Inscripcion>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" />

<div class="container mt-4">
    <h2 class="mb-3">Lista de Inscripciones</h2>

    <table class="table table-bordered table-striped table-responsive">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Curso</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Nombre</td>
                    <td>@item.Curso</td>
                </tr>
            }
        </tbody>
    </table>
</div>